{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Seconds- buy or sell used items</title>
        <link rel="stylesheet" type="text/css" href="{% static 'home/styles/base.css'%}">
        <link rel="shortcut icon" type="image/png" href="{% static 'home/images/favicon.ico' %}"/>
        <script type="text/javascript"></script>
    </head>
    <body>
        <div class='top-header'>
            <div class='logo-box' >
                <a href="">
                    <img src="{% static 'home/images/Logo.png' %}" class="logo" alt="seconds"/>
                </a>
            </div>
        </div>
    </body>
</html>
